@import "./assets/fonts/fonts.css";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white_severance: #f7f4f0;
  --white_sickness: #b1ab9c;
  --black_stones: #161616;
  --black_sickness: #272414;
  --candle: #ffb93d;
  --accentColor: #d83a00;

  --anchorBorderColor: var(--black_sickness);

  --transitionBackward: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --transitionCircular: cubic-bezier(0.79, 0.14, 0.15, 0.86);
  --transitionBordersBtn: cubic-bezier(0.96, -2, 0.04, 2);
  --transitionElastic: cubic-bezier(0.8, -0.5, 0.2, 1.8);

  --transitionDelay-1: 0.3s; /*   → Alipinist */
  --transitionDelay-2: 0.6s; /*   → Bouton Présentation */
  --transitionDelay-3: 0.8s; /*   → Bouton Parcours */
  --transitionDelay-4: 1s; /*     → Bouton Compétences */
  --transitionDelay-5: 1.2s; /*   → Bouton Contact */
  --transitionDelay-6: 1.3s; /*   → Left Cliff */
  --transitionDelay-7: 1.6s; /*   → Right Cliff */
  --transitionDelay-8: 1.8s; /*   → Caveman */
  --transitionDelay-9: 2s; /*     → Landscape */
  --transitionDelay-10: 2.2s; /*  → Sun */
  --transitionDelay-11: 2.4s; /*  → THX1138 */
  --transitionDelay-12: 3s; /*    → Screen */
  --transitionDelay-13: 3.2s; /*  → LinkedIn */
  --transitionDelay-14: 3.4s; /*  → GitHub */
  --transitionDelay-15: 4s; /*    → Button prev */
  --transitionDelay-16: 4.2s; /*  → Button next */

  --triggeringItem: calc(var(--transitionDelay-16) + 0.2s);

  --gridBoxesCount: 144;
  --gridColumns: 16;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (width < 1120px) {
    --transitionDelay-9: 6.4s; /*   → Landscape */
    --transitionDelay-10: 6.6s; /*  → Sun */
    --transitionDelay-11: 6.8s; /*  → THX1138 */
    --transitionDelay-12: 1.3s; /*  → Screen */
    --transitionDelay-13: 5.8s; /*  → LinkedIn */
    --transitionDelay-14: 6s; /*    → GitHub */
    --transitionDelay-15: 1.8s; /*  → Button prev */
    --transitionDelay-16: 2s; /*    → Button next */
  }
  @media (width < 800px) {
    --transitionDelay-2: 0s; /*     → Bouton Présentation */
    --transitionDelay-3: 0.2s; /*   → Bouton Parcours */
    --transitionDelay-4: 0.4s; /*   → Bouton Compétences */
    --transitionDelay-5: 0.6s; /*   → Bouton Contact */
    --transitionDelay-9: 5.2s; /*   → Landscape */
    --transitionDelay-10: 5.4s; /*  → Sun */
    --transitionDelay-11: 5.6s; /*  → THX1138 */
    --transitionDelay-12: 0.8s; /*  → Screen */
    --transitionDelay-13: 3.8s; /*  → LinkedIn */
    --transitionDelay-14: 4s; /*    → GitHub */
    --transitionDelay-15: 1.3s; /*  → Button prev */
    --transitionDelay-16: 1.5s; /*  → Button next */

    --gridBoxesCount: 96;
    --gridColumns: 12;
  }
  @media (width < 560px) {
    --transitionDelay-12: 0s; /*    → Screen */
    --transitionDelay-9: 4.6s; /*   → Landscape */
    --transitionDelay-10: 4.8s; /*  → Sun */
    --transitionDelay-11: 5s; /*    → THX1138 */
    --transitionDelay-13: 3.1s; /*  → LinkedIn */
    --transitionDelay-14: 3.3s; /*  → GitHub */
    --transitionDelay-15: 0.5s; /*  → Button prev */
    --transitionDelay-16: 0.7s; /*  → Button next */

    --gridBoxesCount: 48;
    --gridColumns: 6;
  }
}

body {
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  background: linear-gradient(
    to top,
    rgb(193, 193, 193) 0%,
    var(--white_severance)
  );
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

@media (height < 920px) {
  body {
    overflow-y: scroll;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 1rem;
}

/*
----------------------------------------------------------------

******************************************************* Headings

----------------------------------------------------------------
*/

header {
  position: absolute;
  z-index: 100;
  pointer-events: none;
}

/* Cliff and alpinist illustrations */
.header__silhouettes {
  position: relative;
  display: flex;
  margin-bottom: 16px;
  filter: contrast(75%);

  .cliffs-silhouette {
    transform: translateY(0);
    transition: transform 0.3s var(--transitionBackward);
  }

  .alpinist-silhouette {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top center;
    transform: rotateX(0deg);
    transition: transform 0.3s var(--transitionBackward);
    transition-delay: var(--transitionDelay-1);

    &::before {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 122px;
      height: 24px;
      width: 1px;
      background-color: black;
    }
  }
}

.header__navigation {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

/* Boutons de navigation */
.section-anchor {
  margin-left: 96px;
  margin-bottom: 24px;
  width: 128px;
  height: 32px;
  position: relative;

  .section-anchor__link {
    display: flex;
    height: 28px;
    width: 124px;
    position: relative;
    top: 2px;
    left: 2px;
    justify-content: center;
    align-items: center;
    font-family: "Tsukimi Rounded";
    border: none;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    font-size: 1rem;
    color: black;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
      color: var(--accentColor);
    }

    &.active {
      background: black;
      color: white;
    }

    &:focus-visible {
      outline: none;
      color: var(--accentColor);
    }
  }

  /* Bordures autour des boutons */
  .section-anchor__borders--left,
  .section-anchor__borders--right {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .section-anchor__borders--left::before,
  .section-anchor__borders--left::after,
  .section-anchor__borders--right::before,
  .section-anchor__borders--right::after {
    content: "";
    position: absolute;
    background-color: var(--anchorBorderColor);
  }

  .section-anchor__borders--left::before,
  .section-anchor__borders--right::before {
    height: 50%;
    width: 1px;
  }

  .section-anchor__borders--left::after,
  .section-anchor__borders--right::after {
    height: 1px;
    width: 25%;
  }

  .section-anchor__borders--left::before {
    top: -4px;
    transform-origin: 0px 0px;
    transition: transform 0.1s var(--transitionBordersBtn);
  }
  .section-anchor__borders--left::after {
    top: 0;
    left: -4px;
    transform-origin: 0px 0px;
    transition: transform 0.2s var(--transitionBordersBtn);
  }

  .section-anchor__borders--right::before {
    bottom: -4px;
    right: 0;
    transform-origin: calc(100% - 4px) 100%;
    transition: transform 0.6s var(--transitionBordersBtn);
  }
  .section-anchor__borders--right::after {
    bottom: 0;
    right: -4px;
    transform-origin: 100% calc(100% + 4px);
    transition: transform 0.3s var(--transitionBordersBtn);
  }
}

/* Animation des bordures au hover et au focus */
.section-anchor:hover .section-anchor__borders--left::before,
.section-anchor:hover .section-anchor__borders--right::before,
.section-anchor:focus-within .section-anchor__borders--left::before,
.section-anchor:focus-within .section-anchor__borders--right::before {
  transform: scaleY(260%);
}
.section-anchor:hover .section-anchor__borders--left::after,
.section-anchor:hover .section-anchor__borders--right::after,
.section-anchor:focus-within .section-anchor__borders--left::after,
.section-anchor:focus-within .section-anchor__borders--right::after {
  transform: scaleX(430%);
}

/* Apparition des boutons au chargement de la page */
.section-anchor {
  transform: rotateY(0);
  transform-style: preserve-3d;
  transition: transform 0.3s var(--transitionCircular);
  transition-delay: var(--transitionDelay-2);
}

.section-anchor.odd {
  transform-origin: 20px 0px;
}
.section-anchor.even {
  transform-origin: calc(100% - 20px) 0px;
}

/* décalage temporel apparition des boutons */
.section-anchor:nth-of-type(2) {
  transition-delay: var(--transitionDelay-3);
}
.section-anchor:nth-of-type(3) {
  transition-delay: var(--transitionDelay-4);
}
.section-anchor:nth-of-type(4) {
  transition-delay: var(--transitionDelay-5);
}

/* bordure verticale entre les boutons */
.section-anchor:nth-of-type(2),
.section-anchor:nth-of-type(3),
.section-anchor:nth-of-type(4) {
  &::before {
    content: "";
    position: absolute;
    top: -24px;
    right: 26px;
    width: 1px;
    height: 24px;
    background-color: var(--anchorBorderColor);
  }
}
.section-anchor:nth-of-type(3) {
  &::before {
    left: 26px;
  }
}

@media (width < 1550px) {
  header {
    display: flex;

    & .header__silhouettes .alpinist-silhouette {
      display: none;
    }

    .header__navigation {
      flex-direction: row;
      width: 100vw;
      position: absolute;
      justify-content: center;
    }

    .section-anchor {
      margin-left: 0;
      margin-bottom: 0;
      margin-top: 96px;
    }
    .section-anchor::before {
      display: none;
    }
    .section-anchor:not(:last-child) {
      margin-right: 80px;
    }
  }
}
@media (width < 1120px) {
  header {
    .section-anchor__borders--left,
    .section-anchor__borders--right {
      display: none;
    }

    .section-anchor {
      margin-top: 96px;
    }

    .section-anchor:not(:last-child) {
      margin-right: 40px;
    }
  }
}
@media (width < 960px) {
  header {
    .header__navigation {
      justify-content: flex-start;
    }
    .section-anchor:first-child {
      margin-left: 160px;
    }
    .section-anchor:not(:last-child) {
      margin-right: 16px;
    }
  }
}
@media (width < 800px) {
  header {
    .header__silhouettes {
      display: none;
    }
    .header__navigation {
      justify-content: center;
    }

    .section-anchor {
      margin-top: 96px;
    }

    .section-anchor:not(:last-child) {
      margin-right: 4px;
    }

    .section-anchor:first-child {
      margin-left: 0px;
    }
  }
}
@media (width < 560px) {
  .header__navigation {
    display: none;
  }
}

/*
----------------------------------------------------------------

*************************************************** Social links

----------------------------------------------------------------
*/

.social-links {
  position: absolute;
  right: 32px;
  top: -2px;
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  z-index: 101;
}
.social-links__anchor {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  transform-origin: top;
  transform: rotateZ(-5deg);
  transition: transform 0.6s var(--transitionElastic);
  transition-delay: var(--transitionDelay-13);

  animation: 2.4s ease-in-out 0s infinite alternate flow;
  animation-delay: var(--triggeringItem);
}
.social-links__anchor {
  &:nth-child(2) {
    transition-delay: var(--transitionDelay-14);
  }
  &:nth-child(2) {
    animation-duration: 2.6s;
  }
}

@keyframes flow {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

.social-links__anchor__rope {
  filter: contrast(75%);
}

.social-links__anchor__underline {
  width: 100%;
  height: 8px;
  margin-block-start: 4px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--accentColor);
  display: none;
}

.social-links__anchor:hover,
.social-links__anchor:focus {
  outline: none;

  .social-links__anchor__rope {
    filter: contrast(100%);
  }

  .social-links__anchor__logo {
    filter: invert(50%);
  }

  .social-links__anchor__underline {
    display: block;
  }
}

@media (width < 1120px) {
  .social-links__anchor__rope {
    display: none;
  }

  .social-links__anchor__logo {
    margin-top: 8px;
  }

  .social-links__anchor {
    transform: rotateZ(0);

    animation: none;
  }
}
@media (width < 800px) {
  .social-links {
    padding-block-end: 12px;
    width: 100vw;
    border-bottom: 1px solid white;
    right: 0;
  }
  .social-links__anchor:nth-child(1) {
    margin-inline-end: 32px;
  }
  .social-links__anchor:hover,
  .social-links__anchor:focus {
    .social-links__anchor__underline {
      display: none;
    }
  }
}

/*
----------------------------------------------------------------

******************************************************* Content

----------------------------------------------------------------
*/

.screen {
  --screenWidth: clamp(320px, 75vw, 1024px);
  --screenHeight: 512px;
  --borderThickness: 16px;

  margin: 128px auto auto;
  position: relative;
  z-index: 2;
  width: var(--screenWidth);
  height: var(--screenHeight);
  border-radius: 8px;
  background: whitesmoke;
  box-shadow:
    -4px 4px 8px #6262625c,
    1px -1px 2px #fff;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: calc(var(--screenWidth) - var(--borderThickness));
    height: calc(var(--screenHeight) - var(--borderThickness));
    margin: auto;
    border-radius: 4px;
    box-shadow:
      inset -2px 2px 4px #6565655f,
      inset 2px -2px 4px #ffffff;
    pointer-events: none;
  }

  transform-origin: bottom center;
  transition: transform 0.4s var(--transitionElastic);
  transition-delay: var(--transitionDelay-12);
}

.transitions-container {
  position: absolute;
  inset: 0;
  z-index: 5;
  margin: 88px 32px 16px;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  pointer-events: none;

  &.hideContent {
    background-color: whitesmoke;
  }

  &.sweep {
    animation: linear forwards;
  }

  & > div {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    animation: ease-in forwards;
    transform-origin: center;
  }
}
@keyframes fadeOutAndScale {
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes verticalSweep {
  to {
    transform: scaleY(0);
  }
}
@keyframes horizontalSweep {
  to {
    transform: scaleX(0);
  }
}

.main-content {
  margin: 8px;
  width: calc(100% - var(--borderThickness));
  height: calc(100% - var(--borderThickness));
  display: flex;
  flex-direction: column;
}

.section-header {
  min-height: 72px;
  margin-inline: 32px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header__navigation button {
  border: none;
  background: #e8e8e8;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  transform-origin: bottom left;
  transition: transform 0.2s var(--transitionElastic);
  transition-delay: var(--transitionDelay-15);
  /* overflow: hidden; */
  box-shadow:
    -1px 1px 2px #c5c5c5,
    1px -1px 1px white;

  & span {
    position: relative;
    top: -3px;
  }

  &:active {
    color: gray;
    box-shadow:
      inset 1px -1px 2px #c5c5c5,
      inset -1px 1px 2px white;
  }

  &:focus-visible {
    outline: 2px solid var(--accentColor);
  }

  &:nth-child(2) {
    transition-delay: var(--transitionDelay-16);
  }
}

.section-header__title {
  padding-block-start: 6px;
  display: flex;
  align-items: center;
}

#career .section-header__title,
#contact .section-header__title {
  padding-block-start: 16px;
}

.section-header__title svg path {
  fill: transparent;
  stroke: black;
  stroke-width: 0.5px;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
}
.section-header__title.animate svg path {
  animation: textAnim 2s ease-in-out forwards;
}
@keyframes textAnim {
  0% {
    stroke-dashoffset: 90;
  }
  60% {
    fill: transparent;
  }
  100% {
    fill: black;
    stroke-dashoffset: 0;
  }
}

.section-content {
  margin: 16px 32px;
  flex-grow: 1;
  background-color: rgb(240, 240, 240);
  padding: 32px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid white;
  box-shadow:
    inset -1px 1px 2px #7474745f,
    inset 1px -1px 2px #fff;
  display: flex;
  align-items: center;
  line-height: 1.5;

  & .text-block--black {
    background-color: var(--black_stones);
    color: var(--white_severance);
    border-radius: 16px;

    & .accent-txt {
      font-weight: 600;
      color: var(--white_sickness);
    }
  }

  & .text-block--white {
    background-color: #fff;
    color: black;
    border-radius: 16px;

    & .accent-txt {
      font-weight: 600;
      color: var(--accentColor);
    }
  }
}

.section-content__img {
  position: relative;

  & img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .profilPicture {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    & img {
      width: 50%;
      height: 50%;
      margin-top: 4px;
      object-fit: cover;
      object-position: 0px -3px;
    }
  }

  .explosion {
    position: absolute;
    z-index: 10;
    top: -25%;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & img {
      display: flex;
      max-width: none;
      animation: explosion 0.9s steps(9, end) forwards;
    }
  }
}

/* Animation Explosion */
@keyframes explosion {
  to {
    transform: translateX(-2304px);
  }
}

.custom-borders {
  position: relative;
  h1&::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: 8px 32px 0px 8px;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid white;
    border-right: none;
    border-bottom: none;
  }
  p&::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: 0px 8px 8px 32px;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid black;
    border-left: none;
    border-top: none;
    @media (width < 1120px) {
      margin: 0 8px 8px 16px;
    }
  }
}

#presentation {
  & .section-content__text {
    align-self: flex-start;
    margin-block-start: 64px;
    margin-inline: auto 16px;

    & h1 {
      text-align: end;
      padding-inline: 32px;
      padding-block: 16px 32px;
      font-size: 1.7rem;
      border-top-right-radius: 0px;

      & span {
        font-size: 1rem;
      }
    }

    & p {
      position: relative;
      top: -16px;
      left: -16px;
      font-weight: 300;
      padding-block: 16px 24px;
      padding-inline: 32px;
      font-size: 0.925rem;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 0px;
    }
  }
}

#career {
  & .section-content__text {
    max-width: 42%;
    align-self: flex-start;
    font-weight: 300;

    & p {
      padding: 12px 20px;
    }

    & p:first-of-type {
      position: relative;
      left: 20px;
      top: 16px;
      box-shadow: 3px -3px 0px 0px var(--candle);
    }

    & p:last-of-type {
      padding-block-start: 24px;
      box-shadow: -3px 3px 0px 0px var(--accentColor);
    }
  }

  & .section-content__img {
    margin-inline-start: auto;
  }
}

#skills {
  & .section-content {
    flex-direction: column;
    padding: 0;
  }

  & .section-content__filters {
    width: 100%;
    padding-block: 24px 23px;
    padding-inline: 32px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.16);
    box-shadow: 0px 8px 32px 0px rgba(192, 192, 192, 0.5);
    display: inline-flex;
    gap: 4px;
    text-wrap: nowrap;
    overflow-x: auto;
    scrollbar-color: rgba(128, 128, 128, 0.16) rgb(240, 240, 240);
    scrollbar-width: thin;
  }

  & .section-content__filters button {
    flex-shrink: 0;
    width: 128px;
    height: 32px;
    background: #e8e8e8;
    border: none;
    border-radius: 4px;
    color: var(--black_sickness);
    box-shadow:
      -1px 1px 2px #c5c5c5,
      1px -1px 1px white;
    cursor: pointer;

    &:hover,
    &:focus,
    &.active {
      color: white;
      background-image: url(./assets/illustrations/bg_filter--dark.webp);
      background-repeat: no-repeat;
      background-position: center;
    }
    &:focus-visible {
      outline: 1px solid var(--accentColor);
      outline-offset: 2px;
    }
    /* Bouton no filter */
    &:first-child {
      width: 32px;
      background-image: url(./assets/icons/reset.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus,
      &.active {
        background-color: white;
        filter: invert(100%);
        box-shadow: none;
      }
    }
  }

  .section-content__folders {
    align-self: start;
    flex-grow: 1;
    display: flex;
    align-items: end;
    flex-wrap: nowrap;
    gap: 32px;
    max-width: 100%;
    padding: 32px;
    overflow-x: auto;
    scrollbar-color: rgba(128, 128, 128, 0.16) rgb(240, 240, 240);
    scrollbar-width: thin;
    margin-block-end: 8px;
  }
}

.fileholder {
  /* Modifier uniquement ces valeurs */
  --fileholder_width: 160px; /* Le reste du composant s'adaptera */
  --fileholder_bg: #242424;
  --file_bg: #242424; /* #e8e8e8, #eae4dd , #eaf4f3 */

  /* Paramètres propres à ce projet */
  flex-shrink: 0;
  border: none;
  &:focus-visible {
    outline: 2px solid var(--accentColor);
    outline-offset: 4px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  /* ↓ Don't touch! ↓ */
  cursor: pointer;
  isolation: isolate;
  position: relative;
  width: var(--fileholder_width);
  height: calc(var(--fileholder_width) * 1.414); /* document au format A4 */
  background-color: var(--fileholder_bg);
  border-radius: calc(var(--fileholder_width) / 32);
  box-shadow: -2px -2px 12px 0 rgba(0, 0, 0, 0.25);

  & .fileholder__front {
    position: absolute;
    width: 100%;
    height: 45%;
    bottom: 0;
    background-color: inherit;
    clip-path: circle(calc(var(--fileholder_width) * 1.5) at 100% 240%);

    /* Titre couverture ↓ */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 8px;
    color: var(--white_sickness);
    font-size: 1rem;
    text-align: end;
  }

  & .fileholder__content {
    position: absolute;
    inset: 0;
    margin: calc(var(--fileholder_width) / 32);
    /* padding: calc(var(--fileholder_width) / 16); */
    background-color: var(--file_bg);
    transform-origin: left;
    transition: transform 160ms cubic-bezier(1, -1, 0, 2);
  }
}

.fileholder:hover .fileholder__content {
  transform: translate(-2%, -8%) rotateZ(-3.75deg);
}

.projects-details {
  background: rgba(39, 36, 20, 0.48);
  backdrop-filter: blur(8px);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 0.875rem;
  transform-origin: top;
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: var(--transitionElastic);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: -1;
    border-radius: 7px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 1px solid var(--white_sickness);
  }

  opacity: 0;
  transform: scale(0);

  &:popover-open {
    opacity: 1;
    transform: scale(1);

    @starting-style {
      opacity: 0;
      transform: scale(0);
    }
  }

  @supports (anchor-name: --anchor) {
    inset: auto;
    margin: -32px 0;
    position-area: span-bottom;
  }
}

.projects-details__tags {
  display: flex;
  gap: 4px;
  padding-block-end: 8px;
  border-bottom: 1px solid var(--white_sickness);
}
.projects-details__description {
  padding: 8px;
  margin-block: 16px;
  background-color: rgba(36, 36, 36, 0.5);
  border-radius: 4px;
  max-width: 256px;
  font-size: 1rem;

  & p:not(:first-child) {
    font-size: 0.75rem;
    padding-top: 8px;
  }
}
.projects-details__links {
  border-top: 1px solid var(--white_sickness);
  padding-block-start: 12px;
  & a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }
  & a:hover,
  & a:focus-visible {
    outline: none;
    background-color: rgba(36, 36, 36, 0.5);
  }
}

#contact {
  .section-content {
    flex-direction: column;
  }

  .section-content__text {
    width: 100%;

    .name-container {
      width: fit-content;
      margin-inline-start: auto;
    }
    .name {
      font-size: 2.5rem;
      border-top: 2px solid black;
      color: var(--black_stones);
      font-weight: 600;
      padding-inline-end: 64px;
    }
    .info {
      width: fit-content;
      color: rgb(160, 160, 160);
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .section-content-links {
    margin-inline-end: auto;
    margin-block: auto;

    .link-contact {
      display: block;
      border: none;
      background: none;
      text-decoration: none;
      cursor: pointer;
      font-family: system-ui, "sans-serif";
      color: black;
      border-left: 3px solid rgb(160, 160, 160);
      padding: 4px 4px 4px 12px;
      font-size: 1rem;
      font-weight: 400;
      text-transform: uppercase;
      text-align: start;
      width: 256px;
      position: relative;
    }

    .link-contact:focus {
      outline: none;
      background-color: white;
      border-color: var(--accentColor);
    }

    .link-contact:hover {
      background-color: black;
      color: white;
      border-color: var(--accentColor);
    }

    .link-contact.btn.active::before {
      content: "copié !";
      background-color: var(--candle);
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Indie Flower";
      font-size: 1.5rem;
      opacity: 1;
      cursor: not-allowed;
      color: black;
    }
  }

  .border {
    width: 100%;
    height: 4px;
    background-color: gainsboro;
    border-radius: 80px;
    margin-block-start: 4px;
  }
}

@media (width < 1550px) {
  .screen {
    margin-top: 160px;
  }
  #presentation {
    & .section-content__text {
      margin-block: auto;
      margin-inline: 32px auto;
    }
  }
  #career {
    & .section-content__text {
      align-self: center;
      max-width: 50%;

      & p:first-of-type {
        top: -16px;
        left: 0;
      }
    }
    & .section-content__img {
      margin-inline-start: 48px;
    }
  }
}
@media (width < 1120px) {
  .screen {
    --screenWidth: clamp(320px, 80vw, 1024px);
    --screenHeight: 640px;
  }
  #presentation {
    & .section-content {
      flex-direction: column;
    }
    & .section-content__img {
      margin-top: auto;
    }
    & .section-content__text {
      margin: 0 auto;
      & p {
        left: 0;
        padding-inline: 16px;
      }
    }
  }
  #career {
    & .section-content {
      flex-direction: column;
    }
    & .section-content__text {
      display: flex;
      max-width: 100%;

      & p:first-of-type {
        margin-inline-end: 16px;
      }
    }
    & .section-content__img {
      margin-inline: auto;
      margin-block-start: auto;
    }
  }
  #skills {
    & .section-content__folders {
      align-items: center;
    }
    .fileholder {
      --fileholder_width: 192px;
    }
  }
}
@media (width < 800px) {
  #career {
    & .section-content__text {
      flex-direction: column;

      & p:first-of-type {
        margin-inline-end: 0px;
      }
    }
  }
}
@media (width < 960px) {
  .screen {
    --screenWidth: clamp(320px, 90vw, 1024px);
  }
  #presentation {
    & .section-content__img {
      margin-inline: auto;
    }

    & .section-content__text {
      & h1 {
        font-size: 1.25rem;
      }
    }
  }
}
@media (width < 560px) {
  .screen {
    margin-top: 64px;
    --screenHeight: 720px;
  }
  #presentation {
    & .section-content__img {
      margin-block-end: 32px;
    }
  }
  #skills {
    .fileholder {
      --fileholder_width: 224px;
    }
  }
}
@media (width < 480px) {
  .transitions-container {
    margin: 88px 16px 16px;
  }
  .section-header {
    margin-inline: 16px;
  }
  .section-header__title {
    max-width: 50%;
  }
  .section-content {
    padding: 16px;
    margin: 16px;
  }
  #career {
    & .section-content__text p:first-of-type {
      top: -8px;
    }
  }
  #skills {
    .section-content__filters,
    .section-content__folders {
      padding-inline: 16px;
    }
  }
}

/*
----------------------------------------------------------------

******************************************************* Footer

----------------------------------------------------------------
*/

footer {
  overflow-x: clip;
  display: flow-root;
  margin-top: 128px;
}

.footer__silhouettes {
  display: flex;
  justify-content: center;
  position: relative;

  .explosion {
    position: absolute;
    z-index: 1;
    bottom: calc(144px - 64px);
    left: calc(136px - 64px);

    width: 256px;
    height: 256px;
    overflow: hidden;

    & img {
      display: flex;
      animation: explosion 0.9s steps(9, end) forwards;
    }
  }

  .fire {
    position: absolute;
    bottom: 144px;
    left: 136px;
    width: 128px;
    height: 128px;
    overflow: hidden;

    & img {
      /* @supports (not (background: -webkit-named-image(i))) {
        filter: drop-shadow(4px 4px 24px var(--candle));
      } */
      filter: drop-shadow(4px 4px 24px var(--candle));
      display: flex;
      animation: fire 1.6s steps(16, end) infinite;
    }
  }

  .sun {
    background: linear-gradient(
      180deg,
      var(--white_severance),
      rgb(194, 194, 194)
    );
    width: 128px;
    height: 128px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    box-shadow: 0 0 4px var(--white_severance);
    filter: blur(4px);
    transition: transform 0.5s var(--transitionElastic);
    transition-delay: var(--transitionDelay-10);
  }

  .Thx1138-silhouette {
    position: absolute;
    left: 50%;
    bottom: 40px;
    filter: contrast(10%) blur(1.5px);
    transform-origin: bottom;
    transition: transform 0.5s var(--transitionElastic);
    transition-delay: var(--transitionDelay-11);
  }

  .landscape-silouhette {
    filter: blur(2px) contrast(40%);
    position: relative;
    bottom: -2px;
    transition: transform 0.4s var(--transitionElastic);
    transition-delay: var(--transitionDelay-9);
  }

  &::before {
    content: "🌚 Tous droits réservés © 2026";
    font-family: "Indie Flower";
    font-weight: 100;
    color: var(--white_sickness);
    display: flex;
    align-items: end;
    position: absolute;
    width: 480px;
    height: 480px;
    background-image: url(./assets/illustrations/footer_leftCliff.webp);
    background-size: cover;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: transform 0.4s var(--transitionBackward);
    transition-delay: var(--transitionDelay-6);
  }
  &::after {
    content: "Dév web à Épinal 🤓";
    font-family: "Indie Flower";
    font-weight: 100;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    color: var(--white_sickness);
    position: absolute;
    width: 480px;
    height: 480px;
    background-image: url(./assets/illustrations/footer_rightCliff.webp);
    background-size: cover;
    bottom: 0;
    right: 0;
    filter: contrast(60%);
    transition: transform 0.4s var(--transitionBackward);
    transition-delay: var(--transitionDelay-7);
  }

  .caveman-silhouette {
    position: absolute;
    filter: blur(1px) contrast(60%);
    bottom: 96px;
    right: 288px;
    transform-origin: bottom;
    transition: transform 0.5s var(--transitionElastic);
    transition-delay: var(--transitionDelay-8);

    animation: 0.6s ease-in-out 0s infinite alternate idle;
    animation-delay: var(--triggeringItem);
  }
}
/* Animation feu de camp */
@keyframes fire {
  to {
    transform: translateX(-2048px);
  }
}
/* Animation Homme des cavernes */
@keyframes idle {
  from {
    transform: scaleY(100%);
  }
  to {
    transform: scaleY(96%);
  }
}

@media (width < 1480px) and (height < 930px) {
  .footer__silhouettes {
    & .explosion,
    & .fire {
      display: none;
    }
  }
}

@media (width < 1120px) {
  footer {
    margin-top: 32px;
  }
  .footer__silhouettes {
    &::before,
    &::after,
    .explosion,
    .fire,
    .caveman-silhouette {
      display: none;
    }
    &::before {
      display: flex;
      width: fit-content;
      height: fit-content;
      content: "🌚 Tous droits réservés © 2026";
      font-family: "Indie Flower";
      font-weight: 100;
      color: var(--white_severance);
      background-image: none;
    }
  }
}

/*
---------------------------------------

**** Cache n'importe quel élément
(sections, projets ou images)

---------------------------------------
*/
.hidden {
  display: none !important;
}

/*
----------------------------------------------------------------

***************************** Animations au lancement de la page

----------------------------------------------------------------
*/

@media (prefers-reduced-motion: no-preference) {
  body.hide-on-load {
    & .cliffs-silhouette {
      transform: translateY(-100%);
    }
    & .alpinist-silhouette {
      transform: rotateX(180deg);
    }

    & .section-anchor.odd {
      transform: rotateY(90deg);
    }
    & .section-anchor.even {
      transform: rotateY(-90deg);
    }

    & .social-links__anchor {
      transform: translateY(-100%) rotateZ(-5deg);
    }

    & .screen {
      transform: scale(0);
    }
    & .section-header__navigation button {
      transform: scale(0);
    }

    & .footer__silhouettes::before {
      transform: translateX(-100%);
    }
    & .footer__silhouettes::after {
      transform: translateX(100%);
    }
    & .caveman-silhouette {
      transform: scaleY(0);
    }
    & .landscape-silouhette {
      transform: translateY(100%);
    }
    & .sun {
      transform: translateY(200px);
    }
    & .Thx1138-silhouette {
      transform: scaleY(0);
    }
  }
}

@media (prefers-reduced-motion) {
  :root {
    --transitionDelay-16: 0s;
  }
}
