@import "./assets/fonts/fonts.css";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white_severance: #f7f4f0;
  --white_sickness: #b1ab9c;
  /* --black_stones: #161616; */
  --black_sickness: #272414;
  /* --red_stones: #722222; */
  /* --red_sickness: #692a1d; */
  --candle: #ffb93d;

  --footer_txt: rgba(146, 235, 255, 0.75);

  --anchorBorderColor: var(--black_sickness);

  --transitionBackward: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --transitionCircular: cubic-bezier(0.79, 0.14, 0.15, 0.86);
  --transitionBordersBtn: cubic-bezier(0.96, -2, 0.04, 2);
  --transitionElastic: cubic-bezier(0.8, -0.5, 0.2, 1.8);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  background: linear-gradient(
    to top,
    rgb(193, 193, 193) 0%,
    var(--white_severance)
  );
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

/*
----------------------------------------------------------------

******************************************************* Headings

----------------------------------------------------------------
*/

header {
  position: absolute;
  z-index: 100;
  /* background-color: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(8px) ; */
}

/* Cliff and alpinist illustrations */
.header__silhouettes {
  position: relative;
  display: flex;
  margin-bottom: 16px;
  filter: contrast(75%);

  .cliffs-silhouette {
    transform: translateY(0);
    transition: transform 0.3s var(--transitionBackward);
  }

  .alpinist-silhouette {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top center;
    transform: rotateX(0deg);
    transition: transform 0.3s 0.3s var(--transitionBackward);

    &::before {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 122px;
      height: 24px;
      width: 1px;
      background-color: black;
    }
  }
}

.header__navigation {
  display: flex;
  flex-direction: column;
}

/* Boutons de navigation */
.section-anchor {
  margin-left: 96px;
  margin-bottom: 24px;
  width: 128px;
  height: 32px;
  position: relative;

  .section-anchor__link {
    display: flex;
    height: 28px;
    width: 124px;
    position: relative;
    top: 2px;
    left: 2px;
    justify-content: center;
    align-items: center;
    font-family: "Tsukimi Rounded";
    border: none;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    font-size: 1rem;
    color: black;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
      color: orangered;
    }

    &.active {
      background: black;
      color: white;
    }

    &:focus-visible {
      outline: none;
      color: orangered;
    }
  }

  /* Bordures autour des boutons */
  .section-anchor__borders--left,
  .section-anchor__borders--right {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .section-anchor__borders--left::before,
  .section-anchor__borders--left::after,
  .section-anchor__borders--right::before,
  .section-anchor__borders--right::after {
    content: "";
    position: absolute;
    background-color: var(--anchorBorderColor);
  }

  .section-anchor__borders--left::before,
  .section-anchor__borders--right::before {
    height: 50%;
    width: 1px;
  }

  .section-anchor__borders--left::after,
  .section-anchor__borders--right::after {
    height: 1px;
    width: 25%;
  }

  .section-anchor__borders--left::before {
    top: -4px;
    transform-origin: 0px 0px;
    transition: transform 0.1s var(--transitionBordersBtn);
  }
  .section-anchor__borders--left::after {
    top: 0;
    left: -4px;
    transform-origin: 0px 0px;
    transition: transform 0.2s var(--transitionBordersBtn);
  }

  .section-anchor__borders--right::before {
    bottom: -4px;
    right: 0;
    transform-origin: calc(100% - 4px) 100%;
    transition: transform 0.6s var(--transitionBordersBtn);
  }
  .section-anchor__borders--right::after {
    bottom: 0;
    right: -4px;
    transform-origin: 100% calc(100% + 4px);
    transition: transform 0.3s var(--transitionBordersBtn);
  }
}

/* Animation des bordures au hover et au focus */
.section-anchor:hover .section-anchor__borders--left::before,
.section-anchor:hover .section-anchor__borders--right::before,
.section-anchor:focus-within .section-anchor__borders--left::before,
.section-anchor:focus-within .section-anchor__borders--right::before {
  transform: scaleY(260%);
}
.section-anchor:hover .section-anchor__borders--left::after,
.section-anchor:hover .section-anchor__borders--right::after,
.section-anchor:focus-within .section-anchor__borders--left::after,
.section-anchor:focus-within .section-anchor__borders--right::after {
  transform: scaleX(430%);
}

/* Apparition des boutons au chargement de la page */
.section-anchor {
  transform: rotateY(0);
  transform-style: preserve-3d;
  transition: transform 0.3s 0.6s var(--transitionCircular);
}

.section-anchor.odd {
  transform-origin: 20px 0px;
}
.section-anchor.even {
  transform-origin: calc(100% - 20px) 0px;
}

/* décalage temporel apparition des boutons */
.section-anchor:nth-of-type(2) {
  transition-delay: 0.8s;
}
.section-anchor:nth-of-type(3) {
  transition-delay: 1s;
}
.section-anchor:nth-of-type(4) {
  transition-delay: 1.2s;
}

/* bordure verticale entre les boutons */
.section-anchor:nth-of-type(2),
.section-anchor:nth-of-type(3),
.section-anchor:nth-of-type(4) {
  &::before {
    content: "";
    position: absolute;
    top: -24px;
    right: 26px;
    width: 1px;
    height: 24px;
    background-color: var(--anchorBorderColor);
  }
}
.section-anchor:nth-of-type(3) {
  &::before {
    left: 26px;
  }
}

/*
----------------------------------------------------------------

*************************************************** Social links

----------------------------------------------------------------
*/

.social-links {
  position: absolute;
  right: 32px;
  top: -2px;
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}
.social-links__anchor {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  transform-origin: top;
  transform: rotateZ(-5deg);
  transition: transform 0.6s 3.2s var(--transitionElastic);

  &.animate {
    animation: 2.4s ease-in-out 0s infinite alternate flow;
  }
}
.social-links__anchor {
  &:nth-child(2) {
    transition-delay: 3.4s;
  }
  &.animate:nth-child(2) {
    animation-duration: 2.6s;
  }
}

@keyframes flow {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

.social-links__anchor__rope {
  filter: contrast(75%);
}
/* .social-links__anchor__logo{
  transform: translateY(2px);
} */

.social-links__anchor__underline {
  width: 100%;
  height: 8px;
  margin-block-start: 4px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: orangered;
  display: none;
}

.social-links__anchor:hover,
.social-links__anchor:focus {
  outline: none;

  .social-links__anchor__rope {
    filter: contrast(100%);
  }

  .social-links__anchor__logo {
    filter: invert(50%);
  }

  .social-links__anchor__underline {
    display: block;
  }
}

/*
----------------------------------------------------------------

******************************************************* Content

----------------------------------------------------------------
*/

.screen {
  --screenWidth: clamp(320px, 75vw, 1024px);
  --screenHeight: 512px;
  --borderThickness: 16px;

  margin: 128px auto auto;
  position: relative;
  z-index: 2;
  width: var(--screenWidth);
  height: var(--screenHeight);
  border-radius: 8px;
  background: whitesmoke;
  box-shadow:
    -4px 4px 8px #6262625c,
    1px -1px 2px #fff;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: calc(var(--screenWidth) - var(--borderThickness));
    height: calc(var(--screenHeight) - var(--borderThickness));
    margin: auto;
    border-radius: 4px;
    box-shadow:
      inset -2px 2px 4px #6565655f,
      inset 2px -2px 4px #ffffff;
    pointer-events: none;
  }

  transform-origin: bottom center;
  transition: transform 0.4s 3s var(--transitionElastic);
}

.transition-grid {
  position: absolute;
  inset: 0;
  z-index: 5;
  margin: 88px 40px 16px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  pointer-events: none;

  & > div {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    animation: ease-in forwards;
    transform-origin: center;
  }
}
@keyframes fadeIn {
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.main-content {
  margin: 8px;
  width: calc(100% - var(--borderThickness));
  height: calc(100% - var(--borderThickness));
  display: flex;
  flex-direction: column;
}
.section-title {
  min-height: 72px;
  text-align: end;
  margin-inline: 32px;
  padding-block-start: 18px;
  border-bottom: 1px solid white;
}

.section-title svg path {
  fill: transparent;
  stroke: black;
  stroke-width: 0.5px;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
}
.section-title.animate svg path {
  animation: textAnim 2s ease-in-out forwards;
}
@keyframes textAnim {
  0% {
    stroke-dashoffset: 90;
  }
  60% {
    fill: transparent;
  }
  100% {
    fill: black;
    stroke-dashoffset: 0;
  }
}

.section-content {
  margin: 16px 32px;
  flex-grow: 1;
  background-color: rgb(240, 240, 240);
  padding: 32px;
  overflow-y: auto;
  border: 1px solid white;
  box-shadow:
    inset -1px 1px 2px #7474745f,
    inset 1px -1px 2px #fff;
  display: flex;
  align-items: center;
}

.section-content--right {
  align-self: flex-start;
  margin-block-start: 64px;
  margin-inline: auto 16px;

  & h1 {
    text-align: end;
    padding-inline: 16px;
    padding-block: 16px 32px;
    background-color: #161616;
    color: var(--white_severance);
    border-radius: 8px;
    font-size: 1.7rem;

    & span {
      font-size: 1rem;
      font-weight: 600;
      color: var(--white_sickness);
    }
  }

  & p {
    position: relative;
    top: -16px;
    left: -16px;
    background-color: #fff;
    font-weight: 300;
    padding-block: 16px;
    padding-inline: 12px 32px;
    border-radius: 8px;
    color: black;
    font-size: 0.925rem;

    & strong {
      font-weight: 600;
      color: orangered;
    }
  }
}

/*
----------------------------------------------------------------

******************************************************* Footer

----------------------------------------------------------------
*/

.footer__silhouettes {
  display: flex;
  justify-content: center;
  position: relative;

  .fire {
    position: absolute;
    bottom: 270px;
    left: 136px;

    & img {
      position: absolute;
      opacity: 0;
      filter: drop-shadow(4px 4px 24px var(--candle));
      animation: fire 1.6s step-end infinite;
    }
  }

  .sun {
    background: linear-gradient(
      180deg,
      var(--white_severance),
      rgb(194, 194, 194)
    );
    width: 128px;
    height: 128px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    box-shadow: 0 0 4px var(--white_severance);
    filter: blur(4px);
    transition: transform 0.5s 2.2s var(--transitionElastic);
  }

  .Thx1138-silhouette {
    position: absolute;
    left: 50%;
    bottom: 40px;
    filter: contrast(10%) blur(1.5px);
    transform-origin: bottom;
    transition: transform 0.5s 2.4s var(--transitionElastic);
  }

  .landscape-silouhette {
    filter: blur(2px) contrast(40%);
    position: relative;
    bottom: -2px;
    transition: transform 0.4s 2s var(--transitionElastic);
  }

  &::before {
    content: "🌚 Tous droits réservés © 2026 - Guillaume Duval";
    font-family: "Indie Flower";
    font-weight: 100;
    color: var(--footer_txt);
    display: flex;
    align-items: end;
    position: absolute;
    width: 480px;
    height: 480px;
    background-image: url(./assets/footer_leftCliff.webp);
    background-size: cover;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: transform 0.4s 1.3s var(--transitionBackward);
  }
  &::after {
    content: "";
    position: absolute;
    width: 480px;
    height: 480px;
    background-image: url(./assets/footer_rightCliff.webp);
    background-size: cover;
    bottom: 0;
    right: 0;
    filter: contrast(60%);
    transition: transform 0.4s 1.6s var(--transitionBackward);
  }

  .caveman-silhouette {
    position: absolute;
    filter: blur(1px) contrast(60%);
    bottom: 92px;
    right: 288px;
    transform-origin: bottom;
    transition: transform 0.5s 1.8s var(--transitionElastic);

    &.animate {
      animation: 0.6s ease-in-out 0s infinite alternate idle;
    }
  }
}
/* Animation feu de camp */
@keyframes fire {
  0% {
    opacity: 1;
  }
  6.25% {
    opacity: 0;
  }
}
/* Animation Homme des cavernes */
@keyframes idle {
  to {
    transform: scaleY(96%);
  }
}

/*
----------------------------------------------------------------

***************************** Animations au lancement de la page

----------------------------------------------------------------
*/
@media (prefers-reduced-motion: no-preference) {
  body.hide-on-load {
    & .cliffs-silhouette {
      transform: translateY(-100%);
    }
    & .alpinist-silhouette {
      transform: rotateX(180deg);
    }

    & .section-anchor.odd {
      transform: rotateY(90deg);
    }
    & .section-anchor.even {
      transform: rotateY(-90deg);
    }

    & .social-links__anchor {
      transform: translateY(-100%) rotateZ(-5deg);
    }

    & .screen {
      transform: scale(0);
    }

    & .footer__silhouettes::before {
      transform: translateX(-100%);
    }
    & .footer__silhouettes::after {
      transform: translateX(100%);
    }
    & .caveman-silhouette {
      transform: scaleY(0);
    }
    & .landscape-silouhette {
      transform: translateY(100%);
    }
    & .sun {
      transform: translateY(200px);
    }
    & .Thx1138-silhouette {
      transform: scaleY(0);
    }
  }
}
@media (prefers-reduced-motion) {
}
